.contact-section{
    padding: 50px;
    background-color:#f5eef8;
}
a{
    text-decoration: none;
}

.icon:hover{
    font-size: large;
    background-color: #ebedef;
    padding: 5px;
    border-radius: 50%;
}
.icon{
    padding: 5px;
    border: 2px solid black;
    border-radius: 50%;
}
