.skills-section{
    overflow: hidden;
    background-color:#eaf2f8;
    padding: 50px ;
}
.s-box{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
     box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.icon-background{
    background-color: #167ae4;
    padding: 8px 8px;
    border-radius: 50%;
    color: #fff;
    font-size: x-large;
}
.ulist{
    list-style-type: none;
}
@keyframes bounce-up {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.s-box:hover{
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.3), 0 8px 10px rgba(0, 0, 0, 0.15);
     animation: bounce-up 0.5s ease forwards;
}