.hero-section{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color:#dbe9f1;
}
strong{
    color:#41aec7;
}
#hello{
    font-size: 30px;
    color: #2c3e50;
}
.name{
    font-size: 30px;
    color: #2c3e50;
}