.hero-section{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color:#dbe9f1;
}
strong{
    color:#af7ac5;
    font-family:serif;
}
h2{
    font-family: Georgia;
    text-decoration: underline;
}
#hello{
    font-family: georgia;
}