.project-section{
    background-color: #e7f2f2 ;
    padding: 50px;
    overflow: hidden;
}
.heading{
    padding-bottom: 50px;
}
.box{
    padding: 20px 10px;
     background-color:#262f34;
     color: white;
    border-radius: 10px;
     box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
}
.boxa{
    text-decoration: none;
    color: #adc1c5;
}
.box:hover{
     background-color:#262f34;
     box-shadow: 0 16px 30px rgba(0, 0, 0, 0.3), 0 8px 10px rgba(0, 0, 0, 0.15);
     animation: bounce-up 0.5s ease forwards;
}
.box a{
    text-decoration: none;
    color: #5eb8d3;
}
@keyframes bounce-up {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}